p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

div {
  font-family: Arial;
}

.container {
  width: 300px;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.notifications {
  background-color: rgb(49, 109, 245);
  color: white;
  border: none;
  border-radius: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 20px;
}

.info {
  width: 200px;
}

.name {
  font-weight: bold;
  margin-bottom: 3px;
  margin-bottom: 7px;
}

.handle {
  color: rgb(150, 150, 150);
  margin-bottom: 5px;
  margin-bottom: 5px;
}

.category {
  color: rgb(150, 150, 150);
  font-size: 14px;
}

.follow-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(120, 82, 178);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.home-link {
  font-weight: bold;
}

.text-box {
  width: 500px;
  border-radius: 100px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.download-button {
  color: white;
  border-style: solid;
  font-size: 13px;
  background-color: rgb(120, 82, 178);
  border-color: white;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
  cursor: pointer;
}